* {
    font-family: 'Archivo', sans-serif !important;
    letter-spacing: 0.5px !important;
}

body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(30deg, #2e302e, #586659);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    /* background: #fcfcfc; */
    /* background: #ffffff; */
    
}

.noscroll::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
}


.class { 
    color: var(light-orange, rgb(99, 146, 90));
    color: var(light-yellow #f7f3c2);
    color: var(dark-green, #5D675B);
    color: var(title, rgb(241, 187, 135));
    color: var(cardtitle, #f1d1b3);
    color: rgb(93, 103, 91)
}