body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom right, #292929, #171616, #292929);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}